.consultation{
    min-height: 68rem;
    padding: 10rem 0 9rem 0;
    background: url('../img/bg/bg2.jpg') center (center/cover) no-repeat;
    @include respond(phone){
        padding: 5rem 0 3rem 0;
        min-height: 51rem;
    }
    &__descr{
       color: $text-color;
       font-size: 2rem;
       font-weight: 500;
       @include respond(phone){
        font-size: 1.5rem;
        }
    }
    .error{
        border: 1px solid red;
        outline: none;
    }
    label.error{
        border: none;
        color: $text-color;
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
    }
}