.footer{
    height: 63rem;
    position: relative;
    &__info{
        padding: 1rem 1.8rem 1rem 1.8rem;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #c70101;
        width: 46rem;
        height: 21rem;
        @include respond(phone){
           padding: 1rem 4rem 2rem 4rem;
           width: 21rem;
           height: 15rem;
         }
    }
    &__addr{
        margin-bottom: 3.6rem;
        color: $text-color;
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 500;
        text-align: center;
        @include respond(phone){
            margin-bottom: 2rem;
            font-size: 1.8rem;
            line-height: 2rem;
        }
    }
    &__phone{
        display: block;
        color: $text-color;
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 3.8rem;
        @include respond(phone){
            margin-bottom: 2rem;
            font-size: 1.8rem;
        }
        &:hover{
            color:$text-color;
        }
    }
    &__social-item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        border: 2px solid $text-color;
        border-radius: 100%;
        margin: 0 1.5rem;
       
        img{
            height: 2.7rem;
            transition: .5s all;
            &:hover{
                transform: rotate(-360deg);
            }
        }
        
    }
    &__social{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & iframe{
        width: 100%;
        height: 63rem;
        border: 0;
    }
}