.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .56);
    top: 0;
}
.modal{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 38rem;
    min-height: 40rem;
    background-color: #f2f2f2;
    padding: 3.8rem 4rem 4rem 4rem;
    @include respond(phone){
        padding: 3rem 3rem 3rem 3rem;
        width: 28rem;
    }
    &__close{
        position: absolute;
        top: 0;
        right: -4rem;
        color: $main-color;
        font-size: 4rem;
        line-height: 2.1rem;
        cursor: pointer;
        @include respond(phone){
            right: -3.5rem;
        }
    }

    &__subtitle{
        font-weight: 700;
        font-size: 1.8rem;
        text-align: center;
    }

    &__descr{
        font-weight: 500;
        font-size: 1.4rem;
        text-align: center;
    }
    
    &_mini{
        min-height: 14rem;
    }
    .error{
        border: 1px solid red;
        outline: none;
    }
    label.error{
        border: none;
        color: $main-color;
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
    }
}

#consultation, #order, #thanks{
    display: none;
}