.testimonials{
    padding: 0 0 7rem 0;
    &__block{
        display: flex;
        justify-content: space-between;
        margin-top: 7.3rem;
        @include respond(phone){
            margin-top: 3rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        &:not(:nth-child(4)){
            margin-bottom: 10rem;
        }
        &-img{
            margin-top: .8rem;
            margin-right: 5rem;
            @include respond(phone){
                margin: 0 auto;
             }
            img{
                display: block;
                width: 16.9rem;
                height: 16.9rem;
                border-radius: 10rem;
            }
        }
        &-descr{
            display: flex;
            flex-direction: column;
        }
        &-name{
            font-weight: 700;
            font-size: 1.8rem;
            text-transform: uppercase;
            @include respond(phone){
                margin-top: 10px;
             }
        }
        &-comp{
            font-weight: 400;
            font-size: 1.4rem;
            color: #a0a0a0;
            margin-top: 1.2rem;
        }
        &-text{
            font-weight: 400;
            font-size: 1.6rem;
            margin-top: 2.3rem;
        }
    }
}